<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
  As a reminder this class intended primarily for members of the NYU community and registration does not guarantee admission into Bobst Library. 
  Registrants will need to have <a href="http://library.nyu.edu/about/access.html#bobst">access to the NYU Libraries to attend</a>
</p>
