<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
  </p>
  <p>
  As a reminder, this class is <u>intended primarily for members of the NYU community</u> and registration does not guarantee admission into Bobst Library. 
  Registrants will need to have <a href="https://library.nyu.edu/about/visiting/visitor-access-to-nyu-libraries/">access to the NYU Libraries to attend</a>
</p>
